.view-id-books {
  .field-content {
    a.colorbox {
      display: none;
      &:first-child {
        display: inline;
      }
    }
  }
}

// Slider
#page .rslides {
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
#page .rslides li {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#page .rslides li:first-child {
    display: block;
    float: left;
    position: relative;
}
#page .rslides img {
    border: 0 none;
    display: block;
    float: left;
    height: auto;
    width: 100%;
}

.field_price {
  .field-item {
    font-size: 1.7em;
    sup {
      text-decoration: underline;
    }
  }
}
div {
// dev01 content here
}
