/* line 3, ../sass/global.scss */
.view-id-books .field-content a.colorbox {
  display: none;
}
/* line 5, ../sass/global.scss */
.view-id-books .field-content a.colorbox:first-child {
  display: block;
}

/* line 13, ../sass/global.scss */
#page .rslides {
  list-style: none outside none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

/* line 21, ../sass/global.scss */
#page .rslides li {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 28, ../sass/global.scss */
#page .rslides li:first-child {
  display: block;
  float: left;
  position: relative;
}

/* line 33, ../sass/global.scss */
#page .rslides img {
  border: 0 none;
  display: block;
  float: left;
  height: auto;
  width: 100%;
}

/* line 42, ../sass/global.scss */
.field_price .field-item {
  font-size: 1.7em;
}
/* line 44, ../sass/global.scss */
.field_price .field-item sup {
  text-decoration: underline;
}
